*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    background-color: rgba(26, 26, 26, 1);
}
body{
    font-family: 'Century Gothic', Futura, sans-serif;
    font-size: 10px;
    margin : 0;
}
/* para arreglar el problema de colapso al usar float. */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
h2{
    font-weight: normal;
    text-align: center;
}
.encabezados{
    font-size: 20pt;
    color: gray;
    font-family: 'Cinzel', serif;
    padding-bottom: 50px;
}
hr{
    opacity: 0.3;
}
/*####################### barra de navegacion ################################*/
nav{
    border-bottom: 1.5px lightgray  solid;
    position: fixed;
    top: 0px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(211,211, 211, 0.6);
}
nav img{
    height: 45px;
    float: left;
}
.title{
    float: left;
    margin: 0 0 0 50px;
    line-height: 33px;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 0.3%;
}
.lista-nav{
    float: right;
    padding-right: 15px;
    text-transform: uppercase;
    margin: 0;
    color : black;
    font-size: 0;
}
.lista-item{
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}
.lista-item{
    padding: 15px;
    transition : all 0.5s linear;
}
.lista-item:hover{
    background-color: rgba(211,211, 211, 0.7);
}
.lista-item:hover > a {
    color:white;
}

a:hover, a:active, a:focus {
    color: white;
}

a, a:link, a:visited {
    text-decoration: none;
    /*color: #ff0000;*/
}
/*##################### portada ##########################################*/
.portada{
    position: relative;
    top: 0;
}
.title-img{
    background-image: url('../images/pink-mountain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}
.title-img:hover{
    /*background-size: 110% 110%*/;
}
/*###################### acerca de mi ########################################*/
.profile{
    font-size: 13pt;
    position: relative;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.picture-profile img{
    height: 190px;
    border-radius: 50%;
    border: 8px solid #555;
}

.flip {
  	position: relative;
  	height: 220px;
}

.front, .back {
  	position: absolute;
  	backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
  	transition: transform 1s;
}

.back {
  	transform: rotateY(-180deg);
  	-webkit-transform: rotateY(-180deg);
}

.flip:hover .front {
  	transform: rotateY(-180deg);
  	-webkit-transform: rotateY(-180deg);
}

.flip:hover .back {
  	transform: rotateY(0);
  	-webkit-transform: rotateY(0);
}
.details{
    border-left: 2px solid #7d205c;
}
.data{
    margin-left: 30px;
}
.about-me p{
    margin-right: 70px;
}
/*##################### experiencia ##########################################*/
.experiences div{
    margin-top: 100px;

}
/*##################### habilidades ##########################################*/
.skills{
    color: white;
}
/*##################### pie de pagina ########################################*/
footer {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.92);
	color: white;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(85, 85, 85, 0.5);
}
