*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    background-color: rgba(26, 26, 26, 1);
}
body{
    font-family: 'Century Gothic', Futura, sans-serif;
    font-size: 10px;
    margin : 0;
}
/* para arreglar el problema de colapso al usar float. */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
h2{
    font-weight: normal;
    text-align: center;
}
.titulos{
    font-family: 'Century Gothic', Futura, sans-serif;
    font-size: 30pt;
    color: gray;
    text-transform: uppercase;
}
/* estilo para los bordes de separacion en todas las secciones */
.titulos{
    padding-bottom: 20px;
    border-bottom: 2pt solid rgba(255, 255, 255, 0.3);
}
/*####################### barra de navegacion ################################*/
nav{
    border-bottom: 1.5px lightgray  solid;
    position: fixed;
    top: 0px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(211,211, 211, 0.6);
    z-index: 1;
}
nav img{
    height: 45px;
    float: left;
}
.title{
    float: left;
    margin: 0 0 0 50px;
    line-height: 33px;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 0.3%;
}
.lista-nav{
    float: right;
    padding-right: 15px;
    text-transform: uppercase;
    margin: 0;
    color : black;
    font-size: 0;
}
.lista-item{
    display: inline-block;
    padding-left: 10px;
    font-size: 14px;
}.lista-item a{
    color: #3e215d;
}
.lista-item{
    padding: 15px;
    transition : all 0.5s linear;
}
.lista-item:hover{
    background-color: rgba(211,211, 211, 0.7);
}
.lista-item:hover > a {
    color:white;
}

a:hover, nav a:active, a:focus {
    color: white;
}

a, a:link, a:visited {
    text-decoration: none;
    /*color: #ff0000;*/
}
.active {
  	background-color: rgba(211,211, 211, 0.7);
}

.active-reverse {
  	color: #101010;
  	background-color: #F7F7F7;
}

/*##################### portada ##########################################*/
.portada{
    position: relative;
    top: 0;
}
.title-img{
    background-image: url('../images/pink-mountain.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
}
.title-img:hover{
    /*background-size: 110% 110%;*/
}
.title-central{
	position: absolute;
	left: 0;
	top: 7%;
	width: 100%;
	color: white;
	font-family: 'Century Gothic', Futura, sans-serif;
	text-align: center;
  font-weight: normal;
	font-size: 100px;
	animation: titleAnimation 2s forwards;
	visibility: hidden;
	animation-delay: 0.8s;
}
.title-cite {
	position: absolute;
	left: 0;
	top: 60%;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 28px;
	opacity: 0;
	animation: subTitleAnimation 3s forwards;
	animation-delay: 2.5s;
}
@keyframes titleAnimation {
	0% {
		font-size: 80px;
    height: 500px;
    width: 500px;
    margin-top: 200px;
	}
	50%{
		font-size: 70px;
    height: 400px;
    width: 400px;
    margin-top: 100px;
	}
	100%{
		font-size: 30px;
    height: 200px;
    width: 200px;
    margin-top: 50px;
		visibility: visible;
	}
}
@keyframes subTitleAnimation {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
.square{
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 30%;
  width: 5%;
  height: 5%;
  color: white;
  font-family: 'Century Gothic', Futura, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 10pt;
  animation: titleAnimation 2s forwards;
  visibility: hidden;
  animation-delay: 0.8s;
  -webkit-box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.58);
  box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.58);
  background-color: rgba(255, 255, 255, 0.5);
}
.component-1{
    left: 15%;
    background-image: url(../images/mac.jpg);
}
.component-2{
    left: 44%;
    background-image: url(../images/apps.jpg);
}
.component-3{
    left: 73%;
    background-image: url(../images/www3.jpg);
}
.component-1, .component-2, .component-3{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.square:hover{
    background-size: 110% 110%;
    transition: 0.5s;
    cursor: pointer;
}
.square p{
    color: white;
    margin-top: 50px;
    padding-top: 30px;
    background-color: rgba(26, 26, 26, 0.5);
    padding-bottom: 30px;
}
/* fix internet explorer */
.no-cssanimations .square{
  visibility: visible;
	width: 15%;
	height: 200px;
	font-size: 3em;
}
.no-cssanimations .square p {
	position: relative;
	top: 25%;
	margin-top: auto;
	width: 100%;
}
.no-cssanimations .title-cite{
    opacity: 1;
}
/*###################### acerca de mi ########################################*/
.profile{
    font-size: 12pt;
    position: relative;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}
.picture-profile img{
    height: 190px;
    border-radius: 50%;
    border: 8px solid #555;
}

.flip {
  	position: relative;
  	height: 220px;
}

.front, .back {
  	position: absolute;
  	backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
  	transition: transform 1s;
}

.back {
  	transform: rotateY(-180deg);
  	-webkit-transform: rotateY(-180deg);
}

.flip:hover .front {
  	transform: rotateY(-180deg);
  	-webkit-transform: rotateY(-180deg);
}

.flip:hover .back {
  	transform: rotateY(0);
  	-webkit-transform: rotateY(0);
}

.details{
    border-left: 2px solid #7d205c;
}
.data{
    margin-left: 30px;
}
.data span{
    font-weight: bold;
    font-size: 1.3em;
}
.about-me p{
    margin-right: 70px;
}
.no-cssanimations .back{
    display: none;
}
/*##################### experiencia ##########################################*/
.ed-tipo i{
    color: #a9a94a;
}
.education-details, .education-institute{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Century Gothic', Futura, sans-serif;
    font-size: 13pt;
}
/*##################### habilidades ##########################################*/
.skills{
    padding-top: 100px;
    color: white;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.skills li{
    font-size: 12pt;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.skills li i{
    color: #a9a94a;
    float: right;
}
.skills li:hover{
    background-color: rgb(49, 46, 46);
    font-size: 2.1em;
    transition: 0.5s;
    color: #f5f531;
}
.skills li{
    list-style: none;
}

/*##################### pie de pagina ########################################*/
footer {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.92);
	color: white;
	height: 50px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(85, 85, 85, 0.5);
}
/*########################redes sociales #####################################*/
.redes .redes-item{
    color: black;
    font-size: 13pt;
    background-color: #f3efe0;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.71);
    box-shadow: 0px 10px 37px -1px rgba(0,0,0,0.71);
    text-align: center;
}
.redes{
    margin-bottom: 30px;
}

.redes-item a{
    padding-left: 20px;
    position:relative;
    top: -8px;
}
.redes-item a:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    transition: 0.3s;
}
i{
    color : gray;
    margin-left: 20px
}
i:hover{
    transition: 0.5s;
}
.facebook i:hover{
   color: #3b5998;
    opacity: 0.8;
}
.twitter i:hover{
    color: skyblue;
}
.github i:hover{
    color: #1a1a1a;
}
.instagram i:hover{
    color: brown;
}
.linkedin i:hover{
    color: #1b85bc;
}
.deviantart i:hover{
    color: #05cc47;
}
/*########################## APARTADO CONTACTO ###############################*/
.img-contact{
    height: 96vh;
}
.fondo-formulario{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.der{
    border-left: 3px double;
    border-color: #827f82;
    font-size: 10pt;
    font-weight: normal;
}
.formulario{
    position: absolute;
    top: 10%;
    left: 20%;
    -webkit-box-shadow: 4px 15px 48px 8px rgba(0,0,0,0.59);
    -moz-box-shadow: 4px 15px 48px 8px rgba(0,0,0,0.59);
    box-shadow: 4px 15px 48px 8px rgba(0,0,0,0.59);
    background-color: #f0edf0;
}
.datos{
    padding: 20px;
}
.info{
    display: inline;
}
.datos button{
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 12pt;
}
.datos input[type=button], .datos input[type=submit], .datos input[type=reset], button {
  	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 15px 40px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 0px;
}
#indicator{
    display: block;
    color: red;
}
.izq{
    font-size: 12pt;
    padding: 0px 20px;
}
.saludo span{
    color: #4CAF50;
}
